
<div id="waitMessage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>Working on it. Please wait...</h2>
                        <img class="center-block" src="@Url.Content("~/Content/Images/gears.gif")" alt="Processing. Please Wait" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
