
@{
    ViewBag.Title = "TIMEOUT";
}

<div class="container" style="background-repeat: no-repeat; background-image: url(@Url.Content("~/Content/Images/time_out.jpg")); background-size: contain">
    <div class="jumbotron" style="background: rgba(0, 0, 0, 0.24)">
        <h1 class="text-danger text-right">Database Timeout!</h1>
        <p class="lead text-right">The database timed out on the query you just ran.</p>
        <p class="lead text-right">Sorry about that.</p>
        <p class="lead text-right">But you are welcome to go back and try a narrower time-range.</p>
    </div>
</div>

